.features {
  display: block;

  @media screen and (min-width: 479px) {
  }

  @media screen and (min-width: 480px) {
    min-width: 450px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.features__item {
  @media screen and (max-width: 479px) {
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc(100%-60) / 2;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features__box {
  @include center;
  padding-top: 25px;
  padding-bottom: 25px;

  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  @media screen and (max-width: 479px) {
    text-align: center;
  }

  @media screen and (min-width: 480px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
  }

  @include font(14px, 1.14, 0.03em);
  text-transform: uppercase;

  color: var(--second-text-color);
  margin-bottom: 10px;
}

.features__text {
  @include font(14px, 1.71, 0.03em);

  color: var(--first-text-color);
}
