/*---------------- Site nav ----------------*/
.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  // width: 100vw;
  // height: 100vh;
  // background-color: #fff;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav-list {
  @include center;
}

.nav-list__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }

  & .nav-list__link---current::after {
    content: '';

    position: absolute;
    display: flex;

    width: 100%;
    top: 76px;
    bottom: calc(0% - 1px);

    border: 2px solid;
    border-radius: 2px;
    background-color: var(--akcent-text-color);
  }
}

.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;

  display: block;

  @include font(14px, 1.15, 500, 0.02em);

  color: var(--second-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--akcent-text-color);
  }
}

.nav-list__link---current {
  color: var(--akcent-text-color);
}

/*---------------- Site nav contacts ----------------*/
.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.contacts-list__link {
  @include center;
  padding-top: 32px;
  padding-bottom: 32px;

  @include font(14px, 1.14, 500, 0.02em);

  color: var(--first-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--akcent-text-color);
  }
}

.contacts-list__icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}
