/*---------------- Logo ----------------*/
.header-logo {
  display: block;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 24px;

  font-family: 'Raleway', sans-serif;
  @include font(26px, 1.2, 700, 0.03em);

  color: var(--second-text-color);
}

.header-logo-web {
  color: var(--akcent-text-color);
}

/*---------------- Footer-Logo ----------------*/
.address-logo {
  flex-grow: 1;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer-logo {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  @include font(24px, 1.17, 700, 0.03em);

  color: var(--white-text-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer-logo-web {
  color: var(--akcent-text-color);
}
